/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/main/style.scss ***!
  \*********************************************************************************************************************************************************************************************/
body {
  background-image: url(img/e3684705f974fca64a49.jpg);
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5vh;
  overflow: hidden;
}

#app {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

.table {
  width: 99vw;
  height: 99vh;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}
.table .control {
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  position: absolute;
  width: 70vw;
  height: 92vh;
  margin-right: 5px;
  box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.8);
  padding: 1vw;
  padding-left: 0;
  border-radius: 0.3vw;
  overflow-y: auto;
}
.table .control.active {
  left: -72vw;
}
.table .control .controlInner {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.3vw;
}
.table .warp {
  position: absolute;
  top: 0;
  left: 2vw;
  height: 98vh;
  overflow: hidden;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
.table .warp.active {
  left: 72vw;
}
.table .warp .show-board {
  margin-bottom: 1vh;
  background-color: rgba(255, 255, 255, 0.8);
  width: 845px;
  padding: 1.5vh;
}
.table .warp .show-board .inner-show-board {
  padding: 0.5vh;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
.table .warp .show-board .inner-show-board .point-show {
  flex: 1;
  height: 120px;
}
.table .warp .show-board .inner-show-board .main {
  font-size: 6vh;
  color: black;
  margin-right: 2vh;
  margin-left: 1vh;
}
.table .warp .show-board .inner-show-board .main span {
  font-size: 3vh;
}
.table .warp .show-board .inner-show-board .sub-collection {
  transition: all 0.5s ease-in-out;
}
.table .warp .show-board .inner-show-board .sub-collection.active {
  opacity: 0;
}
.table .warp .show-board .inner-show-board .sub-collection .sub {
  font-size: 3vh;
  color: black;
  margin: 0 1vh;
}
.table .warp .table-warp {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding-right: 2px;
  width: 845px;
  height: 75vh;
}
.table .warp .table-warp table {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.6);
}
.table .warp .table-warp table td {
  white-space: normal;
}
.table .warp .table-warp table .component {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.table .warp .table-warp table .component.active {
  border: 2px solid darkred;
}
.table .warp .table-warp table .component:hover {
  border: 2px solid darkred;
}

.control-label {
  padding: 0.5vw;
  border: 1px solid #d9d9d9;
  border-radius: 0.5vw;
  background: #fafafa;
  text-align: center;
}

.component-fade-enter {
  opacity: 0;
}

.component-fade-exit {
  opacity: 1;
}

.component-fade-enter-active {
  opacity: 1;
}

.component-fade-exit-active {
  opacity: 0;
}

.component-fade-enter-active,
.component-fade-exit-active {
  transition: 0.3s all ease-in-out;
}
/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/main/stylesheet.css ***!
  \*************************************************************************************************************************************************************************************************/
@charset "UTF-8";
ruby {
  ruby-align: left;
}

.style0 {
  text-align: general;
  vertical-align: middle;
  white-space: nowrap;
  color: windowtext;
  font-size: 12pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
  border: none;
}

.font0 {
  color: windowtext;
  font-size: 12pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
}

.font6 {
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
}

.font12 {
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  font-family: ����;
}

.font13 {
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
}

.font15 {
  color: windowtext;
  font-size: 12pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
}

.font26 {
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
}

.font27 {
  color: windowtext;
  font-size: 10pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
}

.font30 {
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  font-family: ����;
}

td {
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 1px;
  color: windowtext;
  font-size: 12pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: ����;
  text-align: general;
  vertical-align: middle;
  border: none;
  white-space: nowrap;
}

.xl65 {
  background: transparent;
}

.xl66 {
  font-weight: 700;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl67 {
  font-size: 10pt;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl68 {
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl69 {
  font-size: 10pt;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl70 {
  font-size: 11pt;
  text-align: center;
  border-top: 0.5pt solid windowtext;
  border-right: none;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  background: transparent;
}

.xl71 {
  font-size: 11pt;
  font-weight: 700;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl72 {
  font-size: 11pt;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl73 {
  font-size: 9pt;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl74 {
  font-size: 11pt;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
  white-space: normal;
}

.xl75 {
  font-size: 11pt;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl76 {
  font-size: 10pt;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
}

.xl77 {
  font-size: 11pt;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
}

.xl78 {
  font-size: 10pt;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl79 {
  font-size: 9pt;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl80 {
  font-size: 8pt;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl81 {
  color: black;
  font-size: 9pt;
  text-align: center;
  white-space: normal;
}

.xl82 {
  font-size: 9pt;
  border: 0.5pt solid windowtext;
  background: transparent;
  white-space: normal;
}

.xl83 {
  font-size: 9pt;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
  white-space: normal;
}

.xl84 {
  font-size: 10pt;
  text-align: center;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
  white-space: normal;
}

.xl85 {
  font-size: 11pt;
  text-align: left;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl86 {
  font-size: 11pt;
  font-weight: 700;
  text-align: left;
  border-top: 0.5pt solid windowtext;
  border-right: none;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  background: transparent;
}

.xl87 {
  font-size: 11pt;
  font-weight: 700;
  text-align: left;
  border-top: 0.5pt solid windowtext;
  border-right: none;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
}

.xl88 {
  font-size: 11pt;
  font-weight: 700;
  text-align: left;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
}

.xl89 {
  font-weight: 700;
  text-align: left;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl90 {
  text-align: left;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl91 {
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl92 {
  font-size: 9pt;
  font-weight: 700;
  text-align: left;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl93 {
  font-size: 11pt;
  text-align: center;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: none;
  border-left: 0.5pt solid windowtext;
  background: transparent;
  white-space: normal;
}

.xl94 {
  font-size: 11pt;
  text-align: center;
  border-top: none;
  border-right: 0.5pt solid windowtext;
  border-bottom: none;
  border-left: 0.5pt solid windowtext;
  background: transparent;
  white-space: normal;
}

.xl95 {
  font-size: 11pt;
  text-align: center;
  border-top: none;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  background: transparent;
  white-space: normal;
}

.xl96 {
  font-size: 18pt;
  font-weight: 700;
  text-align: center;
  border: 0.5pt solid windowtext;
  background: transparent;
}

.xl97 {
  font-size: 11pt;
  text-align: center;
  border-top: 0.5pt solid windowtext;
  border-right: none;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
}

.xl98 {
  font-size: 11pt;
  text-align: center;
  border-top: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  background: transparent;
}

/*# sourceMappingURL=main.css.map*/